<app-header></app-header>
<div class="container">
  <div class="row" style="padding-top: 50px">
    <div class="col">
      <div class="text-center">
        <h4>What We Do</h4>
      </div>
      <div style="padding-bottom: 25px">
        <h5>uParty helps users find events happening around them. We show you where people actually are and what is happening. We have events ranging from local drink specials all the way to big concerts.</h5>
        <h5>We also connect users through city and place-based chat. We have a simple messaging platform that creates group chats automatically with the people in your city and at the place you are at. For the first time ever you are able to talk to other people at your event through your phone without having to meet them in person first.</h5>
      </div>
      <hr>
      <div class="text-center" style="padding-top: 25px">
        <h4>Our Story</h4>
      </div>
      <div>
        <h5>The idea for uParty came about after Emmett's first week of college. The initial parties of college has just come to an end. Emmett and his friends became frustrated, because it was hard to find out what was going on around campus.</h5>
        <blockquote class="blockquote text-center" style="padding-top: 20px; padding-bottom: 20px">
          <p class="mb-0">"Finding out what's going on should be as simple as opening an app"</p>
        </blockquote>
      </div>
      <div class="text-center">
        <h4>v1.0</h4>
      </div>
      <div>
        <h5>Version 1 was mainly a proof of concept. It was very similar to Yik-Yak and was just a message board for events. The first version required a college email to login and was just used by close friends.</h5>
      </div>
      <div class="text-center">
        <h4>v2.0</h4>
      </div>
      <div>
        <h5>Version 2 was just a refined version 1. Emmett used this version to compete in Tiger Cage. Tiger Cage is Auburn University's version of Shark Tank. He ended up placing as a semi-finalist. This version started to expand and eventually gained 500 users.</h5>
      </div>
      <div class="text-center">
        <h4>v3.0</h4>
      </div>
      <div>
        <h5>At this time Emmett brought on 2 new members to the team. The first was Ben. Ben was an experienced Android developer and was in Emmett's Java 2 class at Auburn University. The second was Bryan. Bryan was in Ben's service fraternity, Alpha Phi Omega, and an Auburn graduate. This version required login with Facebook and was significantly more complex than the previous 2 versions. This version was also the birth of the Get Paid to Party system.</h5>
      </div>
      <div class="text-center">
        <h4>v4.0 (Current)</h4>
      </div>
      <div>
        <h5>Version 4 has returned to the initial color scheme of orange and black. Keeping our map first interface from version 3 we also added our new chat system to increase user interaction of uParty. We have also added a heat map to help show where people are at. We have switched from asking individual users to add events to the app to a new crowd-sourced version of gathering event information.</h5>
      </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
