<div class="container-fluid" style="height: 100vh; margin-left: -15px; margin-right: -15px">
  <div class="row" style="height: 100%;">
    <div class="col-3" style="height: 100%">
      <app-console-sidebar></app-console-sidebar>
    </div>
    <div class="col-9">
      <div class="row" style="margin-top: 55px">
        <div class="col text-center">
          <h4 class="display-4">Create a Class</h4>
        </div>
      </div>
      <div class="row" style="margin-top: 55px">
        <div class="col">
          <div class="container">
            <form name="createClass">
              <div class="form-group">
                <label for="classNameInput">Class Name</label>
                <input type="text" class="form-control" id="classNameInput" name="className" [(ngModel)]="className" >
              </div>
              <div class="form-group">
                <label for="beaconIDInput">Beacon ID</label>
                <input type="text" class="form-control" id="beaconIDInput" name="beacon" [(ngModel)]="beacon">
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-success" (click)="createClass()"><i class="fa fa-plus"></i> Create Class</button>
                <p class="text-danger">{{error}}</p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

