<div class="container-fluid" style="height: 100vh; margin-left: -15px; margin-right: -15px">
  <div class="row" style="height: 100%;">
    <div class="col-3" style="height: 100%">
      <app-console-sidebar></app-console-sidebar>
    </div>
    <div class="col-9">
      <div class="row" style="margin-top: 55px">
        <div class="col">
          <div class="container text-center">
            <h5 class="display-3">Course Connect</h5>
            <h6 class="display-4">A better way to engage with students</h6>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 55px">
        <div class="col-4">
          <div class="container">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Attendance</h4>
                <p class="card-text">
                  Students get automatically counted as "Here" when they have our app and walk within range of the Bluetooth beacon.
                </p>
                <a routerLink="/console-classes" class="btn btn-info text-light">Attendance</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="container">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Quizzes</h4>
                <p class="card-text">
                  Keep your students engaged with live quizzes. Track how well they are receiving your content. Show live results.
                </p>
                <a routerLink="/console-classes" class="btn btn-info text-light">Quizzes</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="container">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Alerts</h4>
                <p class="card-text">
                  Send tailored alerts to students in case of an emergency. Give students accurate directions of what to do.
                </p>
                <a routerLink="/console-alerts" class="btn btn-info text-light">Alerts</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 55px">
        <div class="col">
          <div class="container text-center">
            <img src="../../assets/logo.svg" class="img-fluid" style="height: 128px">
            <p style="margin-top: -30px">Auburn Hacks 2019</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



